<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <br></div>
        
    <h3>Create a New Listing</h3>
 
    <form method="POST" action="/listings">
        <div class="mb-3">
            <lable for="title" class="form-label">Enter Title</lable>
            <input name="listing[title]" placeholder="add a catchy title" type="text" class="form-control"/>

        </div>
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" type="text"placeholder="enter the description" class="form-control"></textarea>

        </div>
        <div class="mb-3">
            <lable for="image" class="form-label">Image</lable>
            <input name="listing[image]"  type="text" placeholder="image link URL"  class="form-control"/>

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">price</lable>
                <input name="listing[price]"  type="number" placeholder="1200"  class="form-control"/>
    
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input name="listing[country]"  type="text"  placeholder="India" class="form-control"/>
    
            </div>
    

        </div>


        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input name="listing[location]"  type="text"  placeholder="Jaipur,Rajasthan" class="form-control"/>

        </div>
       
        
       
      
        
      <br></br>
        <button class="btn btn-dark">Add</button>

    </form>
 </div>
    
</div>